.wrapper
  .Main-Contents
    .Contents-box
      .Contents-header
        .EventInfo
          近日開催の勉強会
        .EventInfo__date
      .Eventlists
        - @events.each do |event|
          = render partial: "event", locals: { event: event }
      = paginate @events