.wrapper
  .Header
    .Header__title
      Terakoya
    .Header__nav
      .Header__nav-list
        イベント作成
      .Header__nav-list
        参加一覧
      .Header__nav-list
        ログアウト
  .Main-Contents
    .Contents-box
      .Contents-header
        .EventInfo
          新着イベント
        .EventInfo__date
          7月7日
      .Eventlist
        .Eventlist__left
          .datetime
            日時：10:00
        .Eventlist__right
          .event-owner
            .event-owner__name
              Takashi
          .event-image

