.wrapper
  .Eventbox
    .Eventbox__Info
      .heading
        %h2.heading__content 勉強会作成
      .event-block
        .event-block__label
          勉強会タイトル*
        .event-block__title
          %input
      .event-image
        勉強会イメージ画像
      .event-description
        %textarea イベント説明
      .event-submit
        %input{type: 'submit', class: 'event-submit__btn' }