* {
  box-sizing: border-box;
}

.Main-Contents {
  width: 100vw;
  height: 300vh;
  background-color: #EEEEEE;
  .Contents-box {
    height: 100%;
    width: 90%;
    background-color: white;
    margin: 0px 100px 0px;
    padding-top: 8px;
    .Contents-header {
      height: 50px;
      width: 800px;
      margin-left: 10px;
      background-color: gray;
    } .EventInfo {
      color: #EEEEEE;
      padding: 8px 0px 0px 3px;
      &__date {
        background-color: #BBBBBB;
        height: 10px;
        margin-top: 20px;
        padding: 2px;
        font-weight: bold;
        color: white;
      }
    }
    .Eventlist {
      width: 90%;
      height: 280px;
      border: 1px solid gray;
      margin: 20px 0px 0px 10px;
      display: flex;
      align-items: center;
      &__left {
        height: 200px;
        width: 20%;
        padding: 10px;
        border: 1px solid gray;
        display: flex;
        align-items: center;
        justify-content: center;
        .datetime {
          font-weight: bold;
          &__date {
            font-size: 20px;
            padding-bottom: 35px;
          }
          &__time {
            font-size: 30px;
          }
        }
      }
      &__right {
        border: 1px solid gray;
        height: 200px;
        width: 80%;
        .event-owner {
          height: 30px;
          padding: 5px;
          border-bottom: 1px solid black;
          display: flex;
          justify-content: space-between;
          .eventowner {
            display: flex;
            &__name {
              font-weight: bold;
            }
          }
          &__created-date {
          }
        }
        .event-content {
          display: flex;
          margin-top: 10px;
          &__image {
            height: 130px;
            width: 25%;
            border: 1px solid gray;
          }
          &__title {
            width: 75%;
            padding: 20px;
            border: 1px solid gray;
            font-size: 30px;
            font-weight: bold;
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
        .event-member {
          margin-top: 3px;
        }
      }
    }
  }
}
.wrapper {
  height: 1000px;
  background-color: #eeeeee;
  .Eventbox {
    background-color: #FFFFEE;
    width: 80%;
    height: 1000px;
    margin: 0px 100px;
    &__Info {
      width: 80%;
      height: 100%;
      margin: 0px 100px;
      .Eventbox-heading {
        padding: 20px 0px 0px 20px;
        margin-bottom: 30px;
      }
      form {
        border: 1px solid gray;
      }
      .form-group {
        margin-bottom: 2rem;
      }
      #event_content {
        height: 150px;
      }
    }
  }
}

.Event-Info {
  height: 1000px;
  background-color: white;
  margin: 0px 100px;
  &__header {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .imagebox {
      width: 60%;
      height: 80%;
      padding: 20px;
    }
    .Eventjoin-box {
      height: 90%;
      width: 30%;
      border: 1px solid gray;
      margin: 20px;
      padding: 30px;
      &__date {
        font-size: 30px;
      }
      &__form {
        margin-top: 50px;
        font-size: 20px;
      }
    }
  }
  &__titlebox {
    height: 100px;
    width: 60%;
    margin: 20px;
    border: 1px solid gray;
    .title-info {
      font-weight: bold;
    }
    .title {
      font-size: 30px;
      font-weight: bold;
      padding-top: 5px;
      text-align: center;
    }
  }
  &__contentbox {
    height: 40%;
    margin: 20px;
    border: 1px solid gray;
    .content-Info {
      font-weight: bold;
    }
    .content {
      padding: 20px;
      font-size: 25px;
    }
  }
}
