* {
  box-sizing: border-box;
}

.Main-Contents {
  width: 100vw;
  height: 2000px;
  .Contents-box {
    height: 100%;
    width: 90%;
    background-color: green;
    margin: 0px 100px 0px;
    .Contents-header {
      height: 100px;
      width: 800px;
      margin-left: 10px;
      background-color: rgb(105, 104, 102);
    } .EventInfo {
      color: white;
      padding: 8px 0px 0px 3px;
      &__date {
        background-color: blue;
        height: 30px;
        margin-top: 20px;
      }
    }
    .Eventlist {
      width: 70%;
      height: 280px;
      background-color: red;
      margin: 20px 0px 0px 10px;
      display: flex;
      align-items: center;
      &__left {
        height: 200px;
        width: 20%;
        padding: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        .datetime {

        }
      }
      &__right {
        background-color: orange;
        height: 200px;
        width: 80%;
        .event-owner {
          height: 30px;
          padding: 5px;
          border-bottom: 1px solid black;
          display: flex;
          justify-content: space-between;
          &__name {
            font-weight: bold;
          }
          &__created-date {

          }
        }
        .event-content {
          display: flex;
          margin-top: 10px;
          &__image {
            height: 130px;
            width: 25%;
            background-color: orchid;
          }
          &__title {
            width: 75%;
            background-color: brown;
          }
        }
        .event-member {
          margin-top: 3px;
        }
      }
    }
  }
}

.Eventbox {
  background-color: chocolate;
  width: 80%;
  height: 800px;
  margin: 0px 100px;
  &__Info {
    width: 80%;
    background-color: cornflowerblue;
    height: 100%;
    margin: 0px 100px;
    .heading {
      background-color: crimson;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      &__content {
        padding-right: 30px;
      }
    }
    .event-block {
      background-color: darkgoldenrod;
      height: 80px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__label {

      }
      &__title {

      }
    }
    .event-image {
      height: 100px;
      margin-top: 10px;
      background-color: darkgrey;
    }
    .event-description {
      height: 300px;
      background-color: darkolivegreen;
    }
    .event-submit {
      height: 100px;
      background-color: darkslategrey;
      display: flex;
      align-items: center;
      justify-content: center;
      &__btn {
        height: 30px;
        width: 70px;
      }
    }
  }
}