.Header {
  width: 100vw;
  height: 60px;
  background-color: #009999;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__title {
    padding-left: 50px;
    font-size: 20px;
    font-weight: bold;
    a {
      color: white;
      text-decoration: none;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  } &__nav-list {
    padding: 20px;
    a {
      text-decoration: none;
      color: #FFFFFF;
    }
  }
}